/*
font
*/
@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: local('Pretendard Bold'), url('../font/Pretendard-Bold.woff2') format('woff2'), url('../font/Pretendard-Bold.woff') format('woff');
}


@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: local('Pretendard Regular'), url('../font/Pretendard-Regular.woff2') format('woff2'), url('../font/Pretendard-Regular.woff') format('woff');
}

/*
basic
*/
:root{
--font-base-color:#4a4a4a;
--font-desc-color:#888;

}
body {
	font-family: 'Pretendard';font-weight: 400;font-size:12px;
  color:var(--font-base-color);
}

.article {
  padding-top:20px;
	font-size:14px;
  h2 {
    font-size:16px;
    font-weight:700;
  }
	h2:not(:first-child) {
		margin-top: 20px;
	}
}